.login {
  margin: 50px auto;
  width: 576px;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login form label {
  margin-bottom: 8px;
}
